<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add/Update a Vehicle</h1>
    <a href="{% url 'vehicles' %}">Go Back</a>
    <form id="vehicle_form" method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
    <input type="submit" value="Submit">
    </form>

<!--   <script src="https://code.jquery.com/jquery-3.5.1.js" 
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
        crossorigin="anonymous"></script>-->
    <script type="text/javascript">
        $(document).on('submit','#vehicle_form',function(e){
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: "{% url 'add-vehicle'  %}",
                data:{
                    name:$('name').val(),
                    camera1:$('camera1').val(),
                    camera2:$('camera2').val(),
                    speed:$('speed').val(),
                    averageSpeed:$('averageSpeed').val(),
                    fuelLevel:$('fuelLevel').val(),
                    engineStatus:$('engineStatus').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(data){
                    alert('created successfully');
                    //console.log(data)
                }
            })
        });
    </script>
</body>
</html>